@charset "utf-8";

*{
    margin: 0;
}
/* #A001 */
/******* ヘッダーのスタイル ********/

nav {
    background: #fff;
    width: 100%;
}

/* ヘッダーを固定させる */
nav.fixed {
    position: fixed;/*fixedで固定*/
    right: 0;
    top: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 100%;
}

nav ul {
    justify-content: flex-end;
    display: flex;
    list-style: none;
}

.item {
    margin: 0 2em;
    padding: 17px 0;
    font-weight:bold;
}

.item a {
    color: #48D1CC;
    text-decoration: none;
}

.item a:hover{
    color: #0000FF;
}
/* #A001 END */

/******* ここから各セクションのスタイル ********/
h1 {
    font-size: 1.25rem;
    padding: 2rem 0;
    color: #48D1CC;
    font-weight:bold;
}

p {
    line-height: 2;
    color: #555A60;
}

section{
    background-color: #F0FFF0;
    padding: 2em;
}

section .wrapper{
    max-width: 800px;
}
/* #A002 */
/******* ここからフッターのスタイル ********/
footer {
    background-color: #4169E1;
    padding:1em;
}

footer p {
    font-size: .8em;
    color: #fff;
    max-width: 800px;
    padding: 0;
    text-align:center;
    margin:0 auto;
    font-weight:bold;
}
/* #A002 END*/